
/* -----------------------------
    External Font Import 
--------------------------------*/
@import url('http://fonts.cdnfonts.com/css/poppins');

/* -----------------------------
        Universal Code
--------------------------------*/
*{
    font-family: 'Poppins', sans-serif;
}

/* -----------------------------
    Color vaiables 
--------------------------------*/
:root{
    --dark01: #1d1d1d;
    --dark02: #4A4A4A;
    --dark03: #777777;
    --dark04: #161616;
    --dark05: #242424;
    --info02: #289BDE;
    --dark06: #e8e8e8;
    --dark07: #f4f4f4;
}

/* -----------------------------
        Hover Effect
--------------------------------*/

    /*======================
        Footer Social Icon 
    ========================*/
.social-icon .fa-facebook:hover{
    color: #0260D6;
    transition: color .4s ease-in-out;
}
.social-icon .fa-twitter:hover{
    color: #1C93E4;
    transition: color .4s ease-in-out;
}
.social-icon .fa-linkedin:hover{
    color: #0B61B8;
    transition: color .4s ease-in-out;
}
.social-icon .fa-tiktok:hover{
    color: #111111;  
    filter: drop-shadow(2px 0px 0px #FD3E3E)
            drop-shadow(-2px -2px 0px #4DE8F4);
    transition: color .4s ease-in-out;
}

    /*======================
           Navbar Link 
    ========================*/
header nav .nav-item .nav-link:hover{
        color: var(--dark04);
}

/*======================
        Student ID Link 
    ========================*/

.studenti-id a:hover{
    color: var(--dark01);
}




/* -----------------------------
        Navbar Customize 
--------------------------------*/

header nav .btn:hover {
    color: #fafafa;
}

header nav .navbar-brand{
    color: var(--dark01);
    font-size: 2.5rem;
}

header nav .nav-item .nav-link{
    color: var(--dark03);
    font-size: 1.125rem;
}
header nav .nav-item{
    position: relative;
    display: inline-block;
    transition: color .3s ease-in-out;
}

/* -----------------------------
        Carousel Customize 
--------------------------------*/

.banner-bg-01{
    background: linear-gradient(#1d1d1dc4,#1d1d1dc4),url(../images/cover/cover-1.png) no-repeat center;
    background-size: cover;
}
.banner-bg-02{
    background: linear-gradient(#1d1d1dc4,#1d1d1dc4),url(../images/cover/cover-2.jpg) no-repeat center;
    background-size: cover;
}
.banner-bg-03{
    background: linear-gradient(#1d1d1dc4,#1d1d1dc4),url(../images/cover/cover-3.jpg) no-repeat center;
    background-size: cover;
}

.slide-content{
    padding: 13% 20%;
}
.slide-content h1{
    font-size: 4.0625rem;
}
.slide-content p{
    font-size: 1.125rem;
}
.slide-content .btn{
    font-size: 1.25rem;
    background-color: #0dcaf0;
    color: #fafafa;
    transition: color .5s ease-in-out,
                background-color .5s ease-in-out;
}
.slide-content .btn:hover{
    color: #0dcaf0;
    border: 1px solid #0dcaf0;
}

/* -----------------------------
    Discover Course Customize 
--------------------------------*/

.discover-course-header{
    padding: 0 25%;
    color: var(--dark03);
}
.discover-course-header h1{
    color: var(--dark01);
    font-size: 2.8125rem;
}

.course-box .card-title{
    color: var(--dark02);
}
.course-box .card-text{
    color: var(--dark03);
}
.course-box .card-text.price {
    color: #0dcaf0;
    font-size: 1.125rem;
}

.view-all-btn .btn{
    font-size: 1.25rem;
    background-color: var(--info02);
    color: #fafafa;
    transition: color .5s ease-in-out,
                background-color .5s ease-in-out;
}
.view-all-btn .btn:hover{
    color: var(--info02);
    border: 1px solid var(--info02);
}


/* -----------------------------
   Institute Explore Customize 
--------------------------------*/

.institute-text h1{
    font-size: 2.8125rem;
    color: var(--dark01);
}
.institute-text p{
    color: var(--dark03);
}
.institute-text .d-flex h3{
    font-size: 2.8125rem;
    color: var(--dark01);
}
.institute-text .d-flex p{
    font-size: 1.25rem;
    color: var(--dark03);
}

.institute-text a.btn{
    font-size: 1.25rem;
    background-color: var(--info02);
    color: #fafafa;
    transition: background-color .4s ease-in-out;
}
.institute-text a.btn:hover{
    background-color:   #2d84b6;
    outline: 0px;
}

/* -----------------------------
     Register Form Customize 
--------------------------------*/
.register-form{
    background: #289BDE;
}

.register-form h2{
    font-size: 2.8125rem;
}
.register-form p{
    color: var(--dark07);
}

.register-btn{
    color: #289BDE;
    background-color: #fafafa;
    transition: color .3s linear,
                background-color .3s linear;
    padding: 7.5px 10px;
    border-radius: .3125rem;
    border: none;
    font-family: 1.25rem;
}
.register-btn:hover{
    color: #ffffff;
    background-color: transparent;
    border: 1px dashed #ffffff;
}
.modal-body input{
    outline: none;
    border: .0313rem solid;
}
.modal-body input:focus{
    background: #F9F9F9;
}

/* -----------------------------
       Student ID Customize 
--------------------------------*/

.studenti-id h1{
    font-size: 2.8125rem;
    color: var(--dark01);
}
.studenti-id p{
    color: var(--dark03);
}
.studenti-id h4{
    font-size: 1.25rem;
}
.studenti-id a{
    color: var(--dark02);
    text-decoration: none;
    transition: color .3s ease-in-out;
}

/* -----------------------------
    Student Feedback Customize 
--------------------------------*/

.student-feedback h1{
    color: var(--dark01);
    font-size: 2.8125rem;
}

/* -----------------------------
  Frequently Questions Customize 
--------------------------------*/

.qeuestion-header h1{
    font-size: 2.8125rem;
    color: var(--dark01);
}
.qeuestion-header p{
    color: var(--dark03);
}

.accordion-body p{
    color: var(--dark03);
}

/* -----------------------------
   Company Brand Logo Customize 
--------------------------------*/

.company-section h1{
    font-size: 2.8125rem;
    color: var(--dark01);
}

/* -----------------------------
      Footer Area Customize
--------------------------------*/

footer{
    background: var(--dark04);
}
.footer-content{
    padding: 5% 0;
}

.footer-content p, .footer-content span{
    color: var(--dark06);
}

.social-icon i{
    font-size: 2.1875rem;
}